<h1><%= @song.title %></h1>
<div>
Artist: <%= @song.artist_name %><br />
Genre: <%= @song.genre %><br />
Released: <%= @song.released %><br />
<% if @song.released? %>
Release Year: <%= @song.release_year %>
<% end %>
</div>

<div>
<%= link_to "Edit", edit_song_path(@song) %>
</div>

<div>
<%= form_tag @song, method: "delete" do %>
    <%= submit_tag "Delete" %>
<% end %>
</div>